:root{
  --mainBrown: #724011;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;

}

body{
  background:  var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif
  !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important ;
  letter-spacing: 0.25rem !important;
}

.text-yellow{
  color: var(--mainYellow);
}

.default-background {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(10, 10, 10), rgba(10, 7, 1, 0.32));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.gradient{
  display: -webkit-flex; /* safari */
  display: flex;
  background-color: rgba(0,0,0,.5);
  height: 100vh;
  align-items: center;

}

.navbar-gradient{
  background: linear-gradient(900deg, black, transparent);
}

.navbar-ex{
  background-color: #292929
}
.btn-yellow{
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown);
  background: var(--mainYellow);
}

.eggwhite{
  color: #dcdcdc;
  font-family: 'OpenSans_Light'; 
  font-size: 21px; 
  line-height: 28px; 
  margin-bottom: 20px;
}

.heroheader{
  font-family: Gotham-Medium;
  font-family: Gotham_Medium; 
  font-size: 50px; 
  line-height: 36px; 
  letter-spacing: 1.5px; 
  margin-bottom: 20px;
}

.footer{
  background: var(--mainDark) ;

}