:root{
  --mainBrown: #724011;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;

}

body{
  background:  var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif
  !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important ;
  letter-spacing: 0.25rem !important;
}

.text-yellow{
  color: var(--mainYellow);
}

.default-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(-180deg, black, transparent);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about-background{
  background-color: cornsilk;

}
.gradient{
  display: -webkit-flex; /* safari */
  display: flex;
  background-color: rgba(0,0,0,.5);
  height: 100vh;
  align-items: center;

}

.navbar-gradient{
  background: linear-gradient(900deg, black, transparent);
}

.navbar-ex{
  background-color: #292929
}
.btn-yellow{
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown);
  background: var(--mainYellow);
}



.eggwhite{
  color: #dcdcdc;
  font-family: 'OpenSans_Light'; 
  font-size: 21px; 
  line-height: 28px; 
  margin-bottom: 20px;
}

.heroheader{
  font-family: Gotham-Medium;
  font-family: Gotham_Medium; 
  color: var(--mainWhite);
  font-size: 50px; 
  line-height: 36px; 
  letter-spacing: 1.5px; 
  margin-bottom: 20px;
  
  
}

.footer{
  background: var(--mainDark) ;

}

.aqua{
  color: #00abc9;
}

.test{
  background: var(--mainGrey);
}

.contactUsBackground{
  width: 100%;
  height:90vh;
  background-size: contain;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 5px;
  margin-bottom: 40px ;
}

.contactUsPlainBackground{
  width: 100%;
  height:30vh;
  /* background-size: 100% 100%; */
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 5px;
  margin-bottom: 40px ;
}


.contactUsIcon{
  padding-right: 15vh;
  padding-left: 85vh;
}

.banner{
  background: radial-gradient(#00000012, #00000094);
}

.leftCol{
  display: flex;
  background: radial-gradient(#00000014, #0000006b);
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.leftSticky{
  margin:0 0 50px 0;
  color: #080808;
  border-bottom: outset;
  
}

.sticky-top{
  background-color: white;
}

/* youtube */
.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
  margin: 2rem auto;
  align-items: center;
  justify-items: center;
}

.video-container::after {
  padding-top: 40%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube{
  justify-self: center;
  
}

/* .ani {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */



.ani {
  /* width: 50px;
  height: 50px; */
  /* top : 40px;
  left: 40px; */
  /* top : 5vh;
  width :20vh;
  height: 7vh; */
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  /* animation-iteration-count: infinite; */
}

.aniPhn {

  top : 5vh;
  width :20vh;
  height: 7vh;
  right : 11vh;
  position: relative;
  animation-name: example;
  animation-duration: 5s;

}


@keyframes example {
  0%   {top:1vh;}
  25%  { top:5vh;}
  50%  { top:1vh;}
  75%  { top:5vh;}
  100% { top:1vh;}
}




/* .aniPhn {

  top : 5.5vh;
  width :20vh;
  height: 7vh;
  right : 11vh;
  position: relative;
  animation-name: shake;
  animation-duration: 5s;
  animation: shake 0.5s;
    animation-iteration-count: infinite;

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */

.profileList {
  list-style-type: square;
}
