:root{
  --mainBrown: #724011;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;

}

body{
  background:  var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif
  !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important ;
  letter-spacing: 0.25rem !important;
}

.text-yellow{
  color: var(--mainYellow);
}

.default-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(-180deg, black, transparent);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about-background{
  background-color: cornsilk;

}
.gradient{
  display: -webkit-flex; /* safari */
  display: flex;
  background-color: rgba(0,0,0,.5);
  height: 100vh;
  align-items: center;

}

.navbar-gradient{
  background: linear-gradient(900deg, black, transparent);
}

.navbar-ex{
  background-color: #292929
}
.btn-yellow{
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown);
  background: var(--mainYellow);
}



.eggwhite{
  color: #dcdcdc;
  font-family: 'OpenSans_Light'; 
  font-size: 21px; 
  line-height: 28px; 
  margin-bottom: 20px;
}

.heroheader{
  font-family: Gotham-Medium;
  font-family: Gotham_Medium; 
  color: var(--mainWhite);
  font-size: 50px; 
  line-height: 36px; 
  letter-spacing: 1.5px; 
  margin-bottom: 20px;
  
  
}

.footer{
  background: var(--mainDark) ;

}

.aqua{
  color: #00abc9;
}

.test{
  background: var(--mainGrey);
}

.banner{
  background: radial-gradient(#00000012, #00000094);
}

.leftCol{
  display: flex;
  background: radial-gradient(#00000014, #0000006b);
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.leftSticky{
  margin:0 0 50px 0;
  color: #080808;
  border-bottom: outset;
  
}

.sticky-top{
  background-color: white;
}

/* youtube */
.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
  margin: 2rem auto;
  align-items: center;
  justify-items: center;
}

.video-container::after {
  padding-top: 40%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube{
  justify-self: center;
  
}

.ani {
  position: relative;
  animation-name: iconAnimation;
  animation-duration: 5s;
}

@keyframes iconAnimation {
  0%   {top:1vh;}
  25%  { top:5vh;}
  50%  { top:1vh;}
  75%  { top:5vh;}
  100% { top:1vh;}
}


.profileList {
  list-style-type: square;
}

.dropdown-menu {
  z-index: 10000;
  background-color: rgba(255,255,255,0.9);
  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.midnightblue{
  background-color: midnightblue;
}