:root{
  --mainBrown: #724011;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;

}

body{
  background:  var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif
  !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important ;
  letter-spacing: 0.25rem !important;
}

.text-yellow{
  color: var(--mainYellow);
}

.default-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(-180deg, black, transparent);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.gradient{
  display: -webkit-flex; /* safari */
  display: flex;
  background-color: rgba(0,0,0,.5);
  height: 100vh;
  align-items: center;

}

.navbar-gradient{
  background: linear-gradient(900deg, black, transparent);
}

.navbar-ex{
  background-color: #292929
}
.btn-yellow{
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown);
  background: var(--mainYellow);
}

.eggwhite{
  color: #dcdcdc;
  font-family: 'OpenSans_Light'; 
  font-size: 21px; 
  line-height: 28px; 
  margin-bottom: 20px;
}

.heroheader{
  font-family: Gotham-Medium;
  font-family: Gotham_Medium; 
  color: var(--mainWhite);
  font-size: 50px; 
  line-height: 36px; 
  letter-spacing: 1.5px; 
  margin-bottom: 20px;
  
  
}

.footer{
  background: var(--mainDark) ;

}

.aqua{
  color: #00abc9;
}

.test{
  background: var(--mainGrey);
}

.banner{
  background: radial-gradient(#00000012, #00000094);
}

.leftCol{
  display: flex;
  background: radial-gradient(#00000014, #0000006b);
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.leftSticky{
  margin:0 0 50px 0;
  color: #080808;
  border-bottom: outset;
  
}

.sticky-top{
  top:15%
}

/* youtube */
.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
  margin: 2rem auto;
  margin-left: 20%;
  margin-bottom: -2rem ;
}

.video-container::after {
  padding-top: 40%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  width: 60%;
  height: 80%;
}

.youtube{
  justify-self: center;
  
}